<link
	rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous"
/>
<div id="kit_view">
	<div class="text-center my-2">
		<span class="h2">Visualização de kits</span>
	</div>

	<div class="container rounded bg-secondary py-1">
		<div class="w-25">
			<span>capa do kit:</span>
			<div
				style="width: 6em; height: 6em"
				class="mx-auto bg-primary"
			></div>
			<a href="#" class="btn btn-warning btn-sm py-1 w-100">Mudar</a>
		</div>

		<table class="table table-secondary mt-4 rounded">
			<thead>
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">id</th>
					<th scope="col">preço</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="adm_kitView_new.html">Camisa De Verão</a></td>
					<td>#0001</td>
					<td>R$100,00</td>
				</tr>
				<tr>
					<td><a href="#">Camisa De Inverno</a></td>
					<td>#0002</td>
					<td>R$2000,00</td>
				</tr>
				<tr>
					<td><a href="#">{prod_name}</a></td>
					<td>#{prod_id}</td>
					<td>R${prod_id}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
