<link
	rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous"
/>

<div id="trafego" class="text-center">
	<div id="counter-current" class="my-3">
		<span
			>No momento, há
			<span name="actUsers_current" class="h2">256000</span> usuários
			ativos.</span
		>
	</div>

	<div
		id="counter-history"
		class="
			my-3
			rounded
			border-dark
			bg-secondary
			w-50
			mx-auto
			py-3
			px-2
			text-left
		"
	>
		<span class="h2">Usuários ativos</span>
		<div class="container" name="gráfico">
			<!-- Gráfico vai aqui -->
		</div>
	</div>
</div>
