* {
}

body {
	margin: 0;

	font-family: "Segoe UI";
}

.login {
	min-height: 100vh;
	background-image: repeating-linear-gradient(
			45deg,
			rgba(97, 97, 97, 0.1) 0px,
			rgba(97, 97, 97, 0.1) 2px,
			transparent 2px,
			transparent 4px
		),
		linear-gradient(90deg, rgb(43, 43, 43), rgb(43, 43, 43));

	display: flex;
	justify-content: center;
	align-items: center;
}

.login > div {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	background-image: repeating-linear-gradient(
			45deg,
			rgba(194, 194, 194, 0.1) 0px,
			rgba(194, 194, 194, 0.1) 2px,
			transparent 2px,
			transparent 4px
		),
		linear-gradient(
			90deg,
			rgb(255, 255, 255),
			rgb(255, 255, 255),
			rgb(255, 255, 255)
		);
	padding: 2.5rem;
	text-align: center;
	width: 40vh;

	height: 80vh;

	/* box-shadow: 0 0 20px rgb(126, 126, 126); */
	box-shadow: 0 0 20px rgb(20, 20, 20);
}

.inputs {
	display: flex;
	flex-direction: column;
}

.inputs span {
	cursor: pointer;
}
.inputs input {
	background-color: rgb(221, 221, 221) !important;
	outline: 1px solid rgb(186, 186, 186);
	margin: 0.5rem 0;
	padding: 1rem;
	font-size: medium;

	background-size: 10%;
	padding-left: 12.5%;

	display: inline-flex;
	align-self: center;

	box-shadow: 0 0 5px black;
	transition: 0.25s;
}

.inputs div {
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
}

@keyframes inputClick {
	from {
		outline: 1px solid black;
	}

	to {
		outline: 10px solid rgba(123, 123, 123, 0.029);
	}
}

.inputs input:focus,
#remember_area input[type="checkbox"]:focus {
	outline: 0;
	animation-name: inputClick;
	animation-iteration-count: 1;
	box-shadow: 5px 5px 7.5px rgb(48, 48, 48);
	animation-duration: 0.25s;
	/* animation-timing-function: linear; */
}

.inputs input#email {
	width: 80.5%;
	background: url(./email_black_24dp.svg) no-repeat;
	background-position: left;
}

.inputs input#password {
	width: 68% !important;
	background: url(./lock_black_24dp.svg) no-repeat;
	background-position: left;
	margin-right: 5px;
}

#remember_area {
	display: flex;
	flex-direction: row;
}

#remember_area input[type="checkbox"] {
	display: flex;
	align-self: flex-start;
	outline-color: red;
	background-color: red;
}

#remember_area label {
	color: rgb(77, 77, 77);
}

#login_bttn {
	margin: 1.5rem 0 0 0;
	background-color: black;
	color: white;
	font-weight: 700;
	outline: 0;
	padding: 7.5% 40%;
	display: inline-flex;
	flex-direction: row;
	align-self: center;
	transition: 0.15s;
}

#login_bttn:hover {
	transform: scale(1.025);
	box-shadow: 0 0 7.5px rgb(7, 7, 7);
}

#alt_logins button {
	outline: 0.75px solid rgb(180, 180, 180);
	background-color: rgba(187, 187, 187, 0.1);
	width: calc((100% - 10px) / 2);
	padding: 5% 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	transition: 0.15s;
}

#alt_logins button:hover {
	box-shadow: 2.5px 2.5px 6px rgb(100, 100, 100);
}

h1 {
	text-shadow: 2.5px 2.5px 10px rgb(67, 67, 67);
}

a {
	color: black;
}

button {
	border: 0;
}

input {
	border: 0;
}
